<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Gesa | PortofolioWeb {% endblock %}</title>
  </head>
  <body>
    {% include 'navbar.html'%} {% include 'hero.html'%}
    <div>{% include 'skils.html'%} {% include 'bot.html' %}</div>
    <div>{% include 'project.html' %}</div>
    <div>{% include 'contact.html' %}</div>
    </div>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
